<div id="header">
	<span id="logo">CatChat</span>
	<span id="user">{{user}}</span>
</div>

<div id="chat-messages">
	<div class="message message-system">
		Connecting...
	</div>
</div>

<div id="chat-input">
	<input class="form-control" type="text" id="user-input" placeholder="Say something nice...">
</div>

<div id="user-list">
	<ul></ul>
</div>

<script>
	username = "{{user}}";
</script>
